themes {
  noctalia {
    fg "#f2f2f3"
    bg "#031d3a"
    black "#082649"
    red "#fd4663"
    green "#76b4fc"
    yellow "#7b76fc"
    blue "#be76fc"
    magenta "#82bbfc"
    cyan "#8782fc"
    white "#f2f2f3"
    orange "#fd8446"

    text_unselected {
      base "#f2f2f3"
      background "#031d3a"
      emphasis_0 "#fd8446"
      emphasis_1 "#8782fc"
      emphasis_2 "#76b4fc"
      emphasis_3 "#fd4663"
    }

    text_selected {
      base "#ffffff"
      background "#4d3f74"
      emphasis_0 "#fd8446"
      emphasis_1 "#8782fc"
      emphasis_2 "#76b4fc"
      emphasis_3 "#fd4663"
    }

    list_unselected {
      base "#f2f2f3"
      background "#031d3a"
      emphasis_0 "#fd8446"
      emphasis_1 "#8782fc"
      emphasis_2 "#76b4fc"
      emphasis_3 "#fd4663"
    }

    list_selected {
      base "#ffffff"
      background "#4d3f74"
      emphasis_0 "#fd8446"
      emphasis_1 "#8782fc"
      emphasis_2 "#76b4fc"
      emphasis_3 "#fd4663"
    }

    table_cell_unselected {
      base "#f2f2f3"
      background "#031d3a"
      emphasis_0 "#fd8446"
      emphasis_1 "#8782fc"
      emphasis_2 "#76b4fc"
      emphasis_3 "#fd4663"
    }

    table_cell_selected {
      base "#ffffff"
      background "#4d3f74"
      emphasis_0 "#fd8446"
      emphasis_1 "#8782fc"
      emphasis_2 "#76b4fc"
      emphasis_3 "#fd4663"
    }

    ribbon_unselected {
      base "#f2f2f3"
      background "#082649"
      emphasis_0 "#fd8446"
      emphasis_1 "#8782fc"
      emphasis_2 "#76b4fc"
      emphasis_3 "#fd4663"
    }

    ribbon_selected {
      base "#ffffff"
      background "#76b4fc"
      emphasis_0 "#fd8446"
      emphasis_1 "#8782fc"
      emphasis_2 "#76b4fc"
      emphasis_3 "#fd4663"
    }
  }
}
