themes {
  noctalia {
    fg "#f2f2f3"
    bg "#152128"
    black "#1c2c36"
    red "#fd4663"
    green "#67b8e4"
    yellow "#6a7ee8"
    blue "#9673da"
    magenta "#93ccec"
    cyan "#96a2e9"
    white "#f2f2f3"
    orange "#fd8446"
  }
}
