themes {
  noctalia {
    fg "#f2f2f3"
    bg "#1d1c21"
    black "#26252c"
    red "#fd4663"
    green "#8371f0"
    yellow "#b45fda"
    blue "#cc66bc"
    magenta "#a093ec"
    cyan "#d096e9"
    white "#f2f2f3"
    orange "#fd8446"
  }
}
