[Unit]
Description=Clipse Clipboard Manager Listener
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=oneshot
RemainAfterExit=yes
Environment="PATH=%h/.local/bin:%h/go/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=%h/.local/bin/clipse -listen

[Install]
WantedBy=default.target
